body {
  background: #222222;
}
h1 {
  font-size: 25px;
  color: #25ce1d;
}
button {
  background: transparent;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.admin-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  box-shadow: 2px 4px 3px 1px #47474732;
  background: #000;
  z-index: 10;
}
.admin-header .logo {
  flex: 1;
}
.admin-header .logo img {
  width: 150px;
}
.admin-header .btn {
  display: flex;
}
.admin-header .btn #actingProfile {
  padding: 10px;
}
.admin-header .btn #actingProfile a {
  font-size: 20px;
}
.admin-header .btn button {
  background: #25ce1d;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.dash-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh-140px);
}
.dash-board .left {
  width: 300px;
  padding: 10px;
  background: #000;
  height: calc(100vh-140px);
}
.dash-board .left ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.dash-board .left ul li {
  margin-top: 10px;
}
.dash-board .right {
  padding: 10px;
  height: calc(100vh-140px);
  width: 100%;
  overflow: auto;
}
.dash-board .right .boards-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dash-board .right .boards-row .board {
  width: 200px;
  margin: 10px;
  background: #474747;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.dash-board .right .boards-row .board .b-left {
  flex: 1;
}
.dash-board .right .boards-row .board .b-left img {
  width: 100%;
}
.dash-board .right .boards-row .board .b-right {
  flex: 2;
  padding-left: 5px;
}
.dash-board .right .boards-row .board .b-right span {
  font-weight: bold;
  font-size: 22px;
  color: #25ce1d;
}
.dash-board .right .boards-row .board .b-right p {
  font-size: 24px;
  font-weight: bold;
}
.dash-board .right .new-form {
  margin-top: 20px;
}
.dash-board .right .new-form p {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.dash-board .right .new-form p label {
  margin-bottom: 5px;
}
.dash-board .right .new-form p input,
.dash-board .right .new-form p textarea {
  padding: 10px;
  width: 400px;
  outline: 0;
  background: transparent;
  border: 2px solid #474747;
}
.dash-board .right .new-form p button {
  width: 80px;
  background: #25ce1d;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
.lists-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.lists-row .list-box {
  width: 300px;
  margin: 10px;
  margin-left: 0;
}
.lists-row .list-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.lists-row .list-box span {
  color: #25ce1d;
}
.lists-row .list-box span i {
  color: #25ce1d;
}
.lists-row .list-box button,
.lists-row .list-box a {
  background: #474747;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.lists-row .list-box a {
  margin-right: 5px;
}
.delete {
  background: #d10d0d;
}

.table {
  width: 100%;
  margin-top: 10px;
}
.table thead {
  /* width: 100%; */
}
.table thead tr td {
  color: #fff;
  padding: 10px;
  border-left: 1px solid #474747;
  font-weight: bold;
}
.table tbody tr td {
  padding: 10px;
}
.table img {
  width: 80px;
}
